* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  text-decoration: none;
  // border: 0.1px solid red;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  position: relative !important;
  z-index: 1 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
